# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Treap.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Misha\RiderProjects\Treap\.idea\.idea.Treap\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
